html,
body {
  width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  height: 100vh;
}

main{
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
